<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>155503536182-ojt8cgnvkfdp3uq9hp722ppsjl64c95n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.155503536182-ojt8cgnvkfdp3uq9hp722ppsjl64c95n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>155503536182-g1bng6hi2um91uuplea1ign1u5tecgoj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAfyIxOkfvTq_melrKg8bd2emUcbJlYcCU</string>
	<key>GCM_SENDER_ID</key>
	<string>155503536182</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gabriel85.user</string>
	<key>PROJECT_ID</key>
	<string>plant-if</string>
	<key>STORAGE_BUCKET</key>
	<string>plant-if.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:155503536182:ios:cbc94341a17547f1115097</string>
</dict>
</plist>